<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
</head>
<body>
    <div></div>
    <form method="POST">
        <label>Логин:</label><br>
        <input id="a" type="text" name="login"><br><br>
        
        <label>Пароль:</label><br>
        <input id="b" type="password" name="password"><br><br>
        
        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>